<div class="a" >
<div class="container-fluid">
    <div class="row">
        <h4 class="text-center text-primary">Short URL</h4>
    </div>


    <form #urlForm="ngForm" (ngSubmit)="onSubmitUrlForm(urlForm)" novalidate autocomplete="off"
        *ngIf="!isFormSubmitted" class="d-grid gap-2 col-3 mx-auto">


        <div class="row shadow mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <!-- <input type="text" class="form-control" placeholder="Enter URL" [(ngModel)]="url" aria-label="Recipient's username" aria-describedby="button-addon2"> -->

                        <input class="input-group mb-3" name="inputUrl" type="url" [(ngModel)]="model.inputUrl"
                            #inputUrl="ngModel" placeholder="Paste your url here" required />
                        <!-- <button class="btn btn-outline-primary" type="button" (click)="generatesorturl()" id="button-addon2" >Generate</button> -->
                        <button type="submit" class="btn btn-outline-primary" >
                            {{ !isLoading ? 'Generate URL' : 'Generating...' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
    <div>
        <hr>
    </div>
  

</div>
<section class="container">
    

    <div class="short-url-div" *ngIf="isFormSubmitted" class="d-grid gap-2 col-3 mx-auto">
        <h2>Generated URL</h2>
        <div>
            <p>
                <a [href]="shortUrl" #shortUrlElementRef target="_blank" title="Click Me">{{ shortUrl }}</a>
            </p>
        </div>

        <!-- <div class="short-url-btn-div">
            <button (click)="copyUrl(shortUrlElementRef)">
                {{ !isTextCopied ? 'Copy' : 'Copied' }}</button>&nbsp;&nbsp;&nbsp;
            <button (click)="reset()">Reset</button>
        </div> -->
    </div> 
    <div class="d-grid gap-2 col-3 mx-auto">
        <!-- <button class="btn btn-primary" type="button" (click)="copyUrl(shortUrlElementRef)">{{ !isTextCopied ? 'Copy' : 'Copied' }}</button> -->
        <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
    </div>
    

</section>
<hr>
<br><br>

<div class="justify-content-center">
    <p>This is Url shortner app Which will help to short the length of url</p>
    <p>After That you can go to that url directly or copy to clipboard or Reset it.</p>
</div>

</div>